*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.card-container{
    
    flex-wrap: wrap;
    
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 20;
  
}

.card{
    background-color: #232323;
    border-radius: 1rem;
    height: 490px;
    width: 400px;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    box-shadow: 1px 4px 10px #a722ea;
}

.card:hover{
    box-shadow: 1px 4px 20px #a722ea95;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card-title{
    font-weight: 600;
    background-color: #fff;
}

.card-info{
    font-size: 0.75rem;
    opacity: 0.8;

}

header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 20;
}

.search{
    margin-right: 520px;
}

.div1{
    width: 50%;
    margin-left: 30px;

}

.imgInfo{
    display: flex;
   
}


.explore{
    
    padding-left: 600px;
   
}

.searchBar{
    width: 300px;
    height: 35px;
    padding: 8px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    transform: all 0.3s ease;
}

.searchBar:focus{
    border-color: #a822ea80;
    box-shadow: 0 0 5px #a822ea80;
}

.searchBut{
    height: 35px;
    padding: 0 20px;
    margin-left: 10px;
    background-color: #a722ea;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transform: background-color 0.3 ease;
}

.searchBut:hover{
    background-color: #a722eaaa;
    border-color: #232323;
}

.loginBTN{
    background-color: #a722ea; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 15px 20px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 10px 2px; /* Add some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 20px; /* Rounded corners */
}



.seeMore{
    height: 35px;
    padding: 0 20px;
    margin-left: 10px;
    background-color: #fff;
    border-color: #a722ea;
    color: #a722ea;
    
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transform: background-color 0.3 ease;
}


.seeMore:hover{
    background-color: #a722eaaa;
    
    color: #fff;
}




/* .logo{
    width: 20px;
    
    
} */


